:root {
  --dark: #1c1c1c;
  --yellow: #f8d26d;
  --timber: #dfa46d;
  --plum: #724d50;
  --lightest-blue: #e7f6fd;
  --light-blue: #cdedfc;
  --blue: #9fdcf9;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1c1c1c;
  overflow: hidden;
  height: 100vh;
  font-family: "VT323", monospace;
}

.bar {
  color: black;
  padding: 16px;
}

.health {
  padding: 16px;
}

.gameBoy {
  max-width: 420px;
  background: #f8d26d;
  border-radius: 10px;
  margin: 0 auto;
  height: 657px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 7px;
}

.gameDisplay {
}

.actionButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 34px;
}

.actionButtons button {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: var(--yellow);
  border: solid var(--timber) 5px;
  box-shadow: 0 7px var(--plum);
  display: flex;
  justify-content: center;
  align-items: center;
}
